{% extends '_layout' %} 

{% block main %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Coda Blog</h1>
            <span class="subheading">A blog by Coda</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

      	{% for entry in craft.entries.section('blog').limit(10).all() %}
        
        <div class="post-preview">
          <a href="{{ entry.slug }}">
            <h2 class="post-title">
              {{ entry.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ entry.subtitle }}
            </h3>
          </a>


          <!-- Blog Content -->
          {% for block in entry.blogBody %}
          	{% if block.type == "text" %}
		      {{ block.contentBlock }}
		    {% elseif block.type == "video" %}
		      {% set asset = block.videoEmbed.first() %}
		      {% set embed = craft.embeddedAssets.get(asset) %}	
		      {% if embed %}
	            <div id="video-box" class="videobox">
	              {% set videoUrl = embed.getVideoUrl([]) %}
	              
{# TODO: Scale iframe width/height based on viewport #}

	              <iframe src="{{videoUrl}}" width="640" height="480" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
	              
	              
	            </div>
	          {% endif %}	
		    {% elseif block.type == "rawCode" %}
		      {{ block.code | raw }}
		    {% elseif block.type == "image" %}
		      {% set images = block.contentImage %}
		      {% for image in images %}
		        <div class="boxVertical">        
		          <img src="{{ image.getUrl }}" width="{{ image.getWidth('fit') }}" height="{{ image.getHeight('fit') }}" alt="{{ image.title }}" class="imageFull" />
		         </div>
		      {% endfor %}
		    {% endif %}
          	
      	  {% endfor %}

          <p class="post-meta">Posted by
            <a href="#">{{ entry.author }}</a>
            on {{ entry.postDate | date('M d, Y') }}</p>
        </div>
        <hr>

    	{% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

{% endblock %}